@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
:root {
    --black: #212121;
    --white: #ffffff;
    --gray: #848484;
    --dark: #474747;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
	cursor: pointer;
}
.header {
	background: url('img/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.container {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.navbar .brand {
	color: var(--black);
	font-size: 25px;
}
.navbar ul {
    display: flex;
}
.navbar ul li.nav-item {
	padding-right: 35px;
}
.nav-item:nth-last-child(1) {
	padding-right: 0 !important;
}
.navbar ul li a {
	color: var(--black);
	text-transform: uppercase;
	font-size: 15px;
}
.navbar ul li a::after {
	content: "";
	display: block;
	border: 1px solid var(--gray);
	transform: scaleX(0);
	transform-origin: 0% 50%;
	transition: transform 250ms ease-in-out;
}
.navbar ul li a:hover::after {
	transform: scaleX(1);
}
.hero-area {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info {
    margin-top: 160px;
}
.info h1.author-name {
    font-size: 120px;
    color: var(--dark);
    font-weight: 500;
}
.info p.position {
    font-size: 30px;
    color: var(--gray);
    font-weight: 500;
    padding: 0;
}
.info .info-btns {
    margin-top: 30px;
}
.info .info-btns .know-more {
	font-size: 20px;
	outline: none;
	border: none;
	padding: 20px 30px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 20px;
	box-shadow: 0px 5px 5px var(--gray);
	transition: all 0.3s ease 0s;
}
.know-more:hover {
	background: var(--black);
	color: var(--white);
}
.info .info-btns .hire-me {
    font-size: 20px;
    outline: none;
    border: 2px solid var(--black);
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    font-weight: 500;
	transition: all 0.3s ease 0s;
}
.info .info-btns .hire-me:hover, .download-cv:hover {
	background: var(--black);
	color: var(--white);
}
.author-image {
	border: 39px solid;
	border-color: var(--white);
	border-radius: 50%;
	margin-top: 120px;
}
.hero {
	width: 302px;
	height: auto;
	border-radius: 50px;
}
.about-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-section img {
	width: 684px;
	margin: 100px 0;
}
.about-section .about-text hr {
	display: block;
	border: 0;
	border-top: 4px solid var(--gray);
	margin: 1em 0;
	padding: 0;
	width: 80px;
}
.about-text h1 {
	font-size: 61px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--gray);
	letter-spacing: 5px;
}
.about {
	margin-bottom: 30px;
	font-size: 16px;
	color: var(--gray);
	text-align: justify;
	width: 581px;
	line-height: 30px;
}
.download-cv {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--gray);
	border: 2px solid var(--black);
	padding: 15px 55px;
	background-color: var(--white);
	transition: all 0.3s ease 0s;
}
.services-section {
	margin-top: 120px;
	text-align: center;
}
.services-section hr, .skill-section hr, .project-section hr, .testimonial hr, .contact hr {
	display: block;
	border: 0;
	border-top: 4px solid var(--gray);
	width: 60px;
	margin: 5px auto;
}
.section-name {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--gray);
	margin-bottom: 70px;
}
.serve {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 96px;
}
.serve p {
	margin-bottom: 80px;
	margin-top: 10px;
	font-weight: 500;
	color: var(--gray);
}
.serve img {
	width: 77px;
	height: 77px;
}
.serve:nth-child(2) p {
	margin-bottom: 120px;
}
.skill-section .section-name, .project-section .section-name, .testimonial .section-name, .contact .section-name {
	text-align: center;
	margin-bottom: 120px;
}
.skill-chart {
	margin: 0 96px;
}
.schart-one {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.schart-two {
	display: flex;
	justify-content: space-between;
}
.numb p {
	font-size: 12px;
	text-transform: uppercase;
}
.skillz {
	margin-bottom: 120px;
}
.project-section {
	margin-bottom: 120px;
	text-align: center;
}
.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.project img {
	width: 400px;
	height: auto;
	box-shadow: 0px 5px 5px var(--gray);
}
.project:not(:nth-last-child(1)) {
	margin-bottom: 30px;
}
.load-more {
	border: none;
	padding: 15px 30px;
	width: 185px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	background-color: var(--white);
	box-shadow: 0px 6px 8px -1px var(--gray);
	transition: all 0.3s ease 0s;
}
.load-more:hover {
	background: var(--black);
	color: var(--white);
}
.d-none {
	display: none;
}
.testimonial {
	margin-bottom: 120px;
}
.testimonial .section-name {
	margin-bottom: 56px !important;
}
.testimonial-section {
	border: 1px solid var(--black);
	margin: 0 96px;
}
.test-slider img {
	width: 195px;
	height: 195px;
	margin-right: 30px;
}
.test-slider {
	padding: 80px 75px 40px 75px;
	display: flex;
	justify-content: center;
	transition: 0.5s;
}
.cname {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	padding: 0;
}
.pos {
	font-size: 20px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 500;
	margin-bottom: 20px;
	color: var(--dark);
}
.comment {
	font-size: 20px;
	font-weight: normal;
	color: var(--dark);
	text-align: justify;
}
.slider-nav {
	text-align: center;
	margin-bottom: 30px;
}
.btn {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid var(--black);
	cursor: pointer;
}
span.active {
	background: var(--black);
}
#slide:not(:first-child) {
	display: none;
}
.specs {
	margin: 180px 0 120px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.specs img {
	width: 98px;
	height: 98px;
	margin-bottom: 25px;
}
.specs div {
	text-align: center;
}
.numb {
	font-size: 25px;
	font-weight: 700;
	color: var(--dark);
}
.title {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--dark);
}
.contact {
	margin: 0 150px;
	text-align: center;
	z-index: 9999;
}
#name {
	margin-right: 30px;
}
#name, #email {
	width: 370px;
	padding: 10px;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}
.contact-fields div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}
#messagbody {
	width: 768px;
	height: 207px;
	padding: 10px;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}
.send {
	border: none;
	background: var(--white);
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	margin-right: 20px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 5px var(--gray);
	transition: all 0.3s ease 0s;
}
.footer {
	padding-top: 120px;
	background: rgba(0, 0, 0, 0.7) url(img/contact.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: darken;
}
.contact hr, .contact .section-name {
	color: var(--white);
	border-color: var(--white);
}
.contact input:focus, textarea:focus {
	outline: none;
	border: none;
}
.footer hr {
	color: var(--white);
}
.footer-menu {
	display: flex;
	align-items: center;
	padding: 25px 0;
}
.content {
	margin: 0 auto;
	color: var(--white);
}
.content a {
	color: var(--white);
}
.social-icons a {
	background: var(--white);
	padding: 10px 15px;
	text-align: center;
	color: var(--white);
}
.social-icons a i {
	font-size: 15px;
}
.social-icons a:not(:last-child) {
	margin-right: 15px;
}
.social-icons a:nth-child(1) {
	background: #1877F2 !important;
	color: var(--white);
}
.social-icons a:nth-child(2) {
	background: #1DA1F2 !important;
	color: var(--white);
}
.social-icons a:nth-child(3) {
	background: #333 !important;
	color: var(--white);
}
.social-icons a:nth-child(4) {
	background: #CD201F !important;
	color: var(--white);
}

.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    transform: translate3d(0, 30px, 0);
    z-index: 11;
    border-radius: 5px;
	background-color: var(--white);
}
.scroll-to-top > a {
    color: var(--gray);
    font-size: 30px;
    display: block;
    width: 46px;
    border-radius: 5px;
    height: 46px;
    line-height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
        0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
        0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.show {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
}
.tabbar {
	display: none;
}



@media (max-width: 490px) {
	.nav-item:nth-child(2), .nav-item:nth-child(3), .nav-item:nth-child(4), .nav-item:nth-child(5) {
		display: none;
	}
	.scroll-to-top {
		right: 26px;
		bottom: 80px;
	}
	.hero-area {
		display: block;
		text-align: center;
	}
	.info {
		margin-top: 20px;
	}
	.author-image {
		margin-top: 33px;
	}
	.info h1.author-name {
		font-size: 60px;
	}
	.info p.position {
		font-size: 18px;
	}
	.info .info-btns {
		margin-top: 13px;
	}
	.know-more {
		font-size: 15px !important;
		margin-right: 10px !important;
		padding: 15px 20px !important;
	}
	.hire-me {
		font-size: 15px !important;
		padding: 13px 20px !important;
	}
	.author-image {
		border: 49px solid;
		border-color: var(--white);
	}
	.author-image img {
		width: 346px;
	}
	.about-section {
		display: block;
	}
	.about-text {
		margin-top: 50px;
	}
	.about-text h1 {
		font-size: 40px;
	}
	.about {
		width: 100%;
		text-align: justify;
		font-size: 14px;
		margin-bottom: 16px;
	}
	.download-cv {
		font-size: 12px;
		padding: 10px 30px;
	}
	.about-section img {
		width: 100%;
		height: auto;
		margin: 30px 0;
	}
	.services-section {
		margin-top: 30px;
	}
	.section-name {
		font-size: 40px;
		margin-bottom: 40px !important;
	}
	.serve {
		margin: 0 10px;
	}
	.serve:nth-child(2) p, .skillz, .project-section {
		margin-bottom: 54px;
	}
	.project:nth-child(1) {
		display: block;
	}
	.project:nth-child(2) {
		display: none;
	}
	.project img {
		margin-bottom: 15px;
	}
	.about-section .about-text hr {
		width: 55px;
	}
	.project-section {
		width: 400px;
		margin: 0 auto;
	}
	.load-more {
		margin-bottom: 55px;
	}
	.testimonial-section {
		margin: 0;
	}
	.test-slider {
		display: block;
		text-align: center;
		padding: 40px 20px 20px 20px;
	}
	.test-slider img {
		margin: 0;
	}
	.specs {
		margin: 58px 0 55px 0;
	}
	.specs img {
		width: 60px;
		height: 60px;
		margin-bottom: 8px;
	}
	.numb {
		font-size: 20px;
	}
	.title {
		font-size: 14px;
	}
	.testimonial {
		margin-bottom: 55px;
	}
	.footer {
		padding-top: 55px;
	}
	.contact {
		margin: 0;
	}
	.contact-fields div:first-child {
		display: block;
	}
	#name {
		margin: 0 0 10px 0;
	}
	#email {
		margin-bottom: 10px;
	}
	#messagbody {
		width: auto;
		margin-bottom: 12px;
	}
	.footer-menu {
		margin-bottom: 50px;
		display: block;
		text-align: center;
	}
	.social-icons {
		margin-bottom: 20px;
	}
}
@media (max-width: 768px) {
	.info h1.author-name {
		font-size: 50px;
	}
	.info p.position {
		font-size: 17px;
	}
	.info .info-btns .know-more {
		font-size: 15px;
		padding: 15px 20px;
	}
	.info .info-btns {
		margin-top: 15px;
	}
	.info .info-btns .hire-me {
		font-size: 15px;
		padding: 14px 20px;
	}
	
	.tabbar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 55px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		background-color: #ffffff;
		display: none;
		overflow-x: auto;
		z-index: 999;
	}
	.nav_link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		min-width: 50px;
		overflow: hidden;
		white-space: nowrap;
		font-family: sans-serif;
		font-size: 13px;
		color: #444444;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
		transition: background-color 0.1s ease-in-out;
	}
	.nav_link:hover {
		background-color: #eeeeee;
	}

	.nav_link-active {
		color: #009578;
	}
	.nav_icon {
		font-size: 18px;
	}
	.nav_link:nth-child(2):hover {
		color: #e31b23;
	}
	.nav_link:hover:not(:nth-child(2)) {
		color: #009578;
	}
}