html, body {
    height: 100%;
}

body {
    background: #fafafa;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', Arial, sans-serif;
}

.App {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.App .intro {
    color: #7d7d7d;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.converter {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 120px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-right: 1px solid #ddd;
}

.fields {
    display: flex;
    justify-content: center;
    margin-left: -1rem;
}

.fields input[type="text"] {
    background: #e9e9e9;
    border-radius: 0.25rem;
    border: 0.1rem solid transparent;
    height: 2.5rem;
    width: 12rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding: 0.5rem 0.8rem;
    box-sizing: border-box;
    margin: 0 0.2rem;
    transition: all 300ms ease;
    font-family: 'Source Code Pro', 'Consolas', monospace;
}

.fields input[type="text"]:focus {
    outline: 0;
    border-color: #e9e9e9;
    background: #fafafa;
}

.fields label {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #c8c8c8;
}

.fields button {
    background: #147cfc;
    color: #fafafa;
    border-radius: 0.25rem;
    border: none;
    height: 2.5rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    margin-left: 0.8rem;
    cursor: pointer;
    -webkit-animation: 1000ms both 3000ms tada;
            animation: 1000ms both 3000ms tada;
}
.App .fields button:hover {
    background: #2083fc;
}
.App .fields button:focus {
    outline: 0;
    background: #0775fc;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Source Code Pro', 'Consolas', monospace;
    -webkit-user-select: all;
    -moz-user-select: all;
            user-select: all;
    border-radius: 0.25rem;
    color: #eb2765;
}

.two{
    margin-top: 20px;
    height: 200px;
}

.html {
    color: #fff;
    font-size: 20px;
}

.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}